Backup/NeXT.DMT.Web/Service References/ReferenceService/ReferenceService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NeXT.DMT.Entities.Json" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NeXT.DMT.Entities.Json" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8494/ReferenceService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FirstStep">
    <xs:sequence>
      <xs:element name="_x003C_ApplicationQuadri_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Deliverables_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Environments_x003E_k__BackingField" nillable="true" type="q2:ArrayOfstring" />
      <xs:element name="_x003C_ITFNumber_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_SVNLinkAndVersion_x003E_k__BackingField" nillable="true" type="q3:ArrayOfstring" />
      <xs:element name="_x003C_TypeOfDelivery_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FirstStep" nillable="true" type="tns:FirstStep" />
  <xs:complexType name="SecondStep">
    <xs:sequence>
      <xs:element name="_x003C_ApprovedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ChangeQCAndDescription_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DeliveryDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PreparedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecondStep" nillable="true" type="tns:SecondStep" />
  <xs:complexType name="ThirdStep">
    <xs:sequence>
      <xs:element name="_x003C_ChangeReason_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ExpectedDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ExpectedDuration_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ExpectedStartTime_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ISEntity_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Priority_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_QualificationOfRequest_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_RegulatedEnvironment_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SubmittedBy_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SubmittedDate_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThirdStep" nillable="true" type="tns:ThirdStep" />
</xs:schema>