Backup/NeXT.DMT.Web/Service References/ReferenceService/ReferenceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8494/ReferenceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NeXT.DMT.Entities" />
  <xs:element name="GetAllApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NeXT.DMT.Entities" minOccurs="0" name="GetAllApplicationsResult" nillable="true" type="q1:ArrayOfApplicationBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appQuadri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NeXT.DMT.Entities" minOccurs="0" name="GetApplicationResult" nillable="true" type="q2:ApplicationBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NeXT.DMT.Entities" minOccurs="0" name="GetAllPersonsResult" nillable="true" type="q3:ArrayOfPersonBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTheMagic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NeXT.DMT.Entities" minOccurs="0" name="jsonObject" nillable="true" type="q4:JsonBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTheMagicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>